In [3]:
# Chargement des packages nécessaires
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Importation des données

In [18]:
# Année 2022
df_carac_2022 = pd.read_csv('../data/caracteristiques_2022.csv', sep=';', low_memory=False)
df_lieux_2022 = pd.read_csv("../data/lieux_2022.csv", sep=';', low_memory=False)
df_usagers_2022 = pd.read_csv("../data/usagers_2022.csv", sep=';', low_memory=False)
df_vehicules_2022 = pd.read_csv("../data/vehicules_2022.csv", sep=';', low_memory=False)

# Année 2021
df_carac_2021 = pd.read_csv("../data/caracteristiques_2021.csv", sep=';', low_memory=False)
df_lieux_2021 = pd.read_csv("../data/lieux_2021.csv", sep=';', low_memory=False)
df_usagers_2021 = pd.read_csv("../data/usagers_2021.csv", sep=';', low_memory=False)
df_vehicules_2021 = pd.read_csv("../data/vehicules_2021.csv", sep=';', low_memory=False)

# Année 2020
df_carac_2020 = pd.read_csv("../data/caracteristiques_2020.csv", sep=';', low_memory=False)
df_lieux_2020 = pd.read_csv("../data/lieux_2020.csv", sep=';', low_memory=False)
df_usagers_2020 = pd.read_csv("../data/usagers_2020.csv", sep=';', low_memory=False)
df_vehicules_2020 = pd.read_csv("../data/vehicules_2020.csv", sep=';', low_memory=False)

In [20]:
# On modifie le nom de la colonne de df_carac_2022

df_carac_2022.rename(columns={'Accident_Id': 'Num_Acc'}, inplace=True)

### Nombre de lignes où triplet Num_Acc, id-vehicule et num_veh est unique

In [101]:
print("Usagers 2022 :", (~df_usagers_2022.duplicated(["Num_Acc", "id_vehicule", "num_veh"])).sum())
print("Vehicules 2022 :", (~df_vehicules_2022.duplicated(["Num_Acc", "id_vehicule", "num_veh"])).sum())

print("Longueur Usagers 2022:", len(df_usagers_2022))
print("Longueur Vehicules 2022:", len(df_vehicules_2022))

print("Id Usagers 2022 :", (~df_usagers_2022.duplicated(['id_usager'])).sum())

Usagers 2022 : 94493
Vehicules 2022 : 94493
Longueur Usagers 2022: 126662
Longueur Vehicules 2022: 94493
Id Usagers 2022 : 126662

In [103]:
print("Usagers 2021 :", (~df_usagers_2021.duplicated(["Num_Acc", "id_vehicule", "num_veh"])).sum())
print("Vehicules 2021 :", (~df_vehicules_2021.duplicated(["Num_Acc", "id_vehicule", "num_veh"])).sum())

print("Longueur Usagers 2021:", len(df_usagers_2021))
print("Longueur Vehicules 2021:", len(df_vehicules_2021))

print("Id Usagers 2021 :", (~df_usagers_2021.duplicated(['id_usager'])).sum())

Usagers 2021 : 97309
Vehicules 2021 : 97315
Longueur Usagers 2021: 129248
Longueur Vehicules 2021: 97315
Id Usagers 2021 : 129248

In [135]:
print("Usagers 2020 :", (~df_usagers_2020.duplicated(["Num_Acc", "id_vehicule", "num_veh"])).sum())
print("Vehicules 2020 :", (~df_vehicules_2020.duplicated(["Num_Acc", "id_vehicule", "num_veh"])).sum())

print("Longueur Usagers 2020:", len(df_usagers_2020))
print("Longueur Vehicules 2020:", len(df_vehicules_2020))

# Il n'y a pas de id_usager en 2020

Usagers 2020 : 79167
Vehicules 2020 : 81066
Longueur Usagers 2020: 105295
Longueur Vehicules 2020: 81066

### Nombre de lignes dupliquées

In [59]:
print("Usagers 2022 :", (df_usagers_2022.duplicated()).sum())
print("Vehicules 2022 :", (df_vehicules_2022.duplicated()).sum())

Usagers 2022 : 0
Vehicules 2022 : 0

In [61]:
print("Usagers 2021 :", (df_usagers_2021.duplicated()).sum())
print("Vehicules 2021 :", (df_vehicules_2021.duplicated()).sum())

Usagers 2021 : 0
Vehicules 2021 : 0

In [63]:
print("Usagers 2020 :", (df_usagers_2020.duplicated()).sum())
print("Vehicules 2020 :", (df_vehicules_2020.duplicated()).sum())

Usagers 2020 : 63
Vehicules 2020 : 0

### Nombre de lignes où Num_Acc est unique

In [70]:
print("Usagers 2022 :", (~df_usagers_2022.duplicated(["Num_Acc"])).sum())
print("Vehicules 2022 :", (~df_vehicules_2022.duplicated(["Num_Acc"])).sum())
print("Lieux 2022 :", (~df_lieux_2022.duplicated(["Num_Acc"])).sum())
print("Caracteristiques 2022 :", (~df_carac_2022.duplicated(["Num_Acc"])).sum())
print("-----------------")
print("Longueur Usagers 2022:", len(df_usagers_2022))
print("Longueur Vehicules 2022:", len(df_vehicules_2022))
print("Longueur Lieux 2022:", len(df_lieux_2022))
print("Longueur Caracteristiques 2022:", len(df_carac_2022))

Usagers 2022 : 55302
Vehicules 2022 : 55302
Lieux 2022 : 55302
Caracteristiques 2022 : 55302
-----------------
Longueur Usagers 2022: 126662
Longueur Vehicules 2022: 94493
Longueur Lieux 2022: 55302
Longueur Caracteristiques 2022: 55302

In [72]:
print("Usagers 2021 :", (~df_usagers_2021.duplicated(["Num_Acc"])).sum())
print("Vehicules 2021 :", (~df_vehicules_2021.duplicated(["Num_Acc"])).sum())
print("Lieux 2021 :", (~df_lieux_2021.duplicated(["Num_Acc"])).sum())
print("Caracteristiques 2021 :", (~df_carac_2021.duplicated(["Num_Acc"])).sum())
print("-----------------")
print("Longueur Usagers 2021:", len(df_usagers_2021))
print("Longueur Vehicules 2021:", len(df_vehicules_2021))
print("Longueur Lieux 2021:", len(df_lieux_2021))
print("Longueur Caracteristiques 2021:", len(df_carac_2021))

Usagers 2021 : 56518
Vehicules 2021 : 56518
Lieux 2021 : 56518
Caracteristiques 2021 : 56518
-----------------
Longueur Usagers 2021: 129248
Longueur Vehicules 2021: 97315
Longueur Lieux 2021: 56518
Longueur Caracteristiques 2021: 56518

In [74]:
print("Usagers 2020 :", (~df_usagers_2020.duplicated(["Num_Acc"])).sum())
print("Vehicules 2020 :", (~df_vehicules_2020.duplicated(["Num_Acc"])).sum())
print("Lieux 2020 :", (~df_lieux_2020.duplicated(["Num_Acc"])).sum())
print("Caracteristiques 2020 :", (~df_carac_2020.duplicated(["Num_Acc"])).sum())
print("-----------------")
print("Longueur Usagers 2020:", len(df_usagers_2020))
print("Longueur Vehicules 2020:", len(df_vehicules_2020))
print("Longueur Lieux 2020:", len(df_lieux_2020))
print("Longueur Caracteristiques 2020:", len(df_carac_2020))

Usagers 2020 : 47744
Vehicules 2020 : 47744
Lieux 2020 : 47744
Caracteristiques 2020 : 47744
-----------------
Longueur Usagers 2020: 105295
Longueur Vehicules 2020: 81066
Longueur Lieux 2020: 47744
Longueur Caracteristiques 2020: 47744

### Conclusion

Le df Usagers est le df qui présente à chaque fois le plus de lignes (avec une ligne = 1 victime). Parmi les 4 df, il s'agit du dénominateur commun car on peut avoir plusieurs victimes pour un même véhicule, pour un même lieu et pour un même accident

## Jointure et vérification

In [85]:
df_merged_2022_1 = pd.merge(df_usagers_2022, df_vehicules_2022, on=['Num_Acc', 'id_vehicule', 'num_veh'])
df_merged_2022_2 = pd.merge(df_usagers_2022, df_vehicules_2022, on=['Num_Acc'])

print("Longueur triplet :", len(df_merged_2022_1))
print("Longueur Num_Acc :", len(df_merged_2022_2))

Longueur triplet : 126662
Longueur Num_Acc : 241487

In [115]:
display(df_merged_2022_1.columns)
display(df_merged_2022_2.columns)

Index(['Num_Acc', 'id_usager', 'id_vehicule', 'num_veh', 'place', 'catu',
       'grav', 'sexe', 'an_nais', 'trajet', 'secu1', 'secu2', 'secu3', 'locp',
       'actp', 'etatp', 'senc', 'catv', 'obs', 'obsm', 'choc', 'manv', 'motor',
       'occutc'],
      dtype='object')

Index(['Num_Acc', 'id_usager', 'id_vehicule_x', 'num_veh_x', 'place', 'catu',
       'grav', 'sexe', 'an_nais', 'trajet', 'secu1', 'secu2', 'secu3', 'locp',
       'actp', 'etatp', 'id_vehicule_y', 'num_veh_y', 'senc', 'catv', 'obs',
       'obsm', 'choc', 'manv', 'motor', 'occutc'],
      dtype='object')

In [117]:
display(df_merged_2022_1.columns)
display(df_usagers_2022.columns)
display(df_vehicules_2022.columns)

Index(['Num_Acc', 'id_usager', 'id_vehicule', 'num_veh', 'place', 'catu',
       'grav', 'sexe', 'an_nais', 'trajet', 'secu1', 'secu2', 'secu3', 'locp',
       'actp', 'etatp', 'senc', 'catv', 'obs', 'obsm', 'choc', 'manv', 'motor',
       'occutc'],
      dtype='object')

Index(['Num_Acc', 'id_usager', 'id_vehicule', 'num_veh', 'place', 'catu',
       'grav', 'sexe', 'an_nais', 'trajet', 'secu1', 'secu2', 'secu3', 'locp',
       'actp', 'etatp'],
      dtype='object')

Index(['Num_Acc', 'id_vehicule', 'num_veh', 'senc', 'catv', 'obs', 'obsm',
       'choc', 'manv', 'motor', 'occutc'],
      dtype='object')

In [143]:
df = df_merged_2022_2[['Num_Acc', 'id_usager', 'id_vehicule_x', 'id_vehicule_y', 'num_veh_x',  'num_veh_y']]

In [149]:
df

,Num_Acc,id_usager,id_vehicule_x,id_vehicule_y,num_veh_x,num_veh_y
0,202200000001,1 099 700,813 952,813 952,A01,A01
1,202200000001,1 099 700,813 952,813 953,A01,B01
2,202200000001,1 099 701,813 953,813 952,B01,A01
3,202200000001,1 099 701,813 953,813 953,B01,B01
4,202200000002,1 099 698,813 950,813 950,B01,B01
...,...,...,...,...,...,...
241482,202200055301,968 232,715 632,715 632,B01,B01
241483,202200055302,968 228,715 629,715 629,A01,A01
241484,202200055302,968 228,715 629,715 630,A01,B01
241485,202200055302,968 229,715 630,715 629,B01,A01
241486,202200055302,968 229,715 630,715 630,B01,B01

In [151]:
df_merged_2022_1[['Num_Acc', 'id_usager', 'id_vehicule', 'num_veh']]

             Num_Acc  id_usager id_vehicule num_veh
0       202200000001  1 099 700     813 952     A01
1       202200000001  1 099 701     813 953     B01
2       202200000002  1 099 698     813 950     B01
3       202200000002  1 099 699     813 951     A01
4       202200000003  1 099 696     813 948     A01
...              ...        ...         ...     ...
126657  202200055301    968 230     715 631     A01
126658  202200055301    968 231     715 631     A01
126659  202200055301    968 232     715 632     B01
126660  202200055302    968 228     715 629     A01
126661  202200055302    968 229     715 630     B01

[126662 rows x 4 columns]

In [153]:
df_usagers_2022[['Num_Acc', 'id_usager', 'id_vehicule', 'num_veh']]

             Num_Acc  id_usager id_vehicule num_veh
0       202200000001  1 099 700     813 952     A01
1       202200000001  1 099 701     813 953     B01
2       202200000002  1 099 698     813 950     B01
3       202200000002  1 099 699     813 951     A01
4       202200000003  1 099 696     813 948     A01
...              ...        ...         ...     ...
126657  202200055301    968 230     715 631     A01
126658  202200055301    968 231     715 631     A01
126659  202200055301    968 232     715 632     B01
126660  202200055302    968 228     715 629     A01
126661  202200055302    968 229     715 630     B01

[126662 rows x 4 columns]

In [157]:
df_vehicules_2022[['Num_Acc', 'id_vehicule', 'num_veh']]

            Num_Acc id_vehicule num_veh
0      202200000001     813 952     A01
1      202200000001     813 953     B01
2      202200000002     813 950     B01
3      202200000002     813 951     A01
4      202200000003     813 948     A01
...             ...         ...     ...
94488  202200055300     715 633     A01
94489  202200055301     715 631     A01
94490  202200055301     715 632     B01
94491  202200055302     715 629     A01
94492  202200055302     715 630     B01

[94493 rows x 3 columns]

Si jointure sans mettre le triplet unique, on crée des nouvelles lignes car deux variables en doublons (id_vehicule et num_veh) avec des informations en doublon